<br><h1>Student Dashboard</h1></br>


<%= link_to "Achievements", achievements_path %>

<br>
<%= link_to 'Home', :root %>
<% #link_to 'Change your password', edit_student_path(Student.find_by(id: session[:student_id] )) %>
