<h1>Parent Dashboard</h1>


<br><%= link_to 'Child Achievements', achievements_path %></br>

<%= link_to 'Change your password', edit_parent_path(Parent.find_by(id: session[:parent_id] )) %>
<br>
<%= link_to 'Home', :root %>
